<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entrenador_caballo_abajo-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{253,68},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_abajo-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{492,1},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_abajo-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{512,1},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_arriba-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{532,1},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_arriba-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{552,1},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_arriba-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,35}</string>
                <key>spriteSourceSize</key>
                <string>{18,35}</string>
                <key>textureRect</key>
                <string>{{572,1},{18,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_derecha-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{125,92},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_derecha-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{157,92},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_derecha-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{189,92},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_izquierda-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{221,92},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_izquierda-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{428,1},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_caballo_izquierda-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{460,1},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_abajo-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{339,58},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_abajo-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{622,32},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_abajo-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{449,100},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_arriba-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{490,38},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_camina_arriba-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{491,100},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_arriba-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{520,38},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_camina_derecha-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{343,100},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_derecha-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{569,58},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_derecha-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{364,100},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_izquierda-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{385,100},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_izquierda-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{590,54},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_camina_izquierda-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{406,100},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_corre_abajo-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{642,1},{18,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_corre_abajo-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{323,103},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_corre_abajo-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{642,21},{18,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_corre_arriba-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{550,38},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_corre_arriba-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{639,61},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_corre_arriba-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{359,48},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_corre_derecha-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{427,99},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_corre_derecha-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{281,103},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_corre_derecha-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{611,60},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_corre_izquierda-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{511,83},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_corre_izquierda-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{302,103},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_corre_izquierda-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{469,100},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_lanza_pokebola-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,108}</string>
                <key>spriteSourceSize</key>
                <string>{56,108}</string>
                <key>textureRect</key>
                <string>{{67,1},{56,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_lanza_pokebola-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,117}</string>
                <key>spriteSourceSize</key>
                <string>{64,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_lanza_pokebola-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,89}</string>
                <key>spriteSourceSize</key>
                <string>{69,89}</string>
                <key>textureRect</key>
                <string>{{125,1},{69,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_patina_abajo-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{279,58},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_abajo-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{553,107},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_abajo-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{581,86},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_patina_abajo-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{309,58},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_arriba-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{359,68},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_arriba-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{601,82},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_patina_arriba-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{621,109},{18,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_arriba-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{389,68},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_derecha-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{592,32},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_derecha-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{532,83},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_patina_derecha-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{553,86},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_derecha-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{421,58},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_izquierda-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{451,58},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_patina_izquierda-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{621,81},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_patina_izquierda-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{642,81},{19,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_patina_izquierda-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{481,58},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_pokeball-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{642,41},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_pokeball-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{196,68},{22,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_pokeball-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{253,105},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_pokeball-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{22,26}</string>
                <key>textureRect</key>
                <string>{{225,68},{22,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_posando-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,67}</string>
                <key>spriteSourceSize</key>
                <string>{45,67}</string>
                <key>textureRect</key>
                <string>{{359,1},{45,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_posando-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,78}</string>
                <key>spriteSourceSize</key>
                <string>{55,78}</string>
                <key>textureRect</key>
                <string>{{279,1},{55,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_abajo-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{419,79},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_abajo-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{449,80},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_abajo-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{479,80},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_arriba-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{390,48},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_arriba-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{428,38},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_arriba-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{459,38},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_derecha-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{511,58},{23,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_derecha-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{592,1},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_rueda_derecha-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{273,78},{23,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_izquierda-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{303,78},{23,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_rueda_izquierda-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{23,29}</string>
                <key>textureRect</key>
                <string>{{617,1},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>entrenador_rueda_izquierda-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{23,27}</string>
                <key>textureRect</key>
                <string>{{540,58},{23,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>entrenador_terjeta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,65}</string>
                <key>spriteSourceSize</key>
                <string>{81,65}</string>
                <key>textureRect</key>
                <string>{{196,1},{81,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>entrenador.png</string>
            <key>size</key>
            <string>{668,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21e84c0dcb78b9dabf15893093aa99b9:32f97b7b3c4877270fce4bdf63cfcd74:315069d55bb38df7156de6cf4970910e$</string>
            <key>textureFileName</key>
            <string>entrenador.png</string>
        </dict>
    </dict>
</plist>
